.image-pp{
  background-color: blue;
  border-radius: 1vh;
  width: 100%;
  height: 10vh;
  padding-top: 4%;
}

.papa{
  background-image: url('../../icons/pexels-pixabay-459653.jpg');
}

.marge-pp{
  color: white;
  padding-top: 0.5%;
}