@media screen {
  .user-notification:hover{
    background-color: #f9fafc;
    border-radius: 2vh;
    border-color: #f9fafc;
  }

  .back{
    background-color: #f9fafc;
    border-radius: 2vh;
    border-color: #f9fafc;
  }
}

@media screen and (min-width: 1200px){
  .user-notification{
    margin: 2vh;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .user-notification-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .user-notification-2{
    width: 10%;
  }

  .icon-size-1{
    width: 20%;
  }

  .nom-chat{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
  }

  .nom-user{
    font-size: 2.4vh;
  }

  .nom-user-1{
    font-size: 1.8vh;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px){
  .user-notification{
    margin: 2vh;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .user-notification-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .user-notification-2{
    width: 10%;
  }

  .icon-size-1{
    width: 15%;
  }

  .nom-chat{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
  }

  .nom-user{
    font-size: 2vh;
  }

  .nom-user-1{
    font-size: 1.6vh;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .user-notification{
    margin: 1vh;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .user-notification-1{
    display: flex;
    justify-content: space-between;
    width: 85%;
  }

  .user-notification-2{
    width: 10%;
  }

  .icon-size-1{
    width: 10%;
  }

  .nom-chat{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
  }

  .nom-user{
    font-size: 1.8vh;
  }

  .nom-user-1{
    font-size: 1.4vh;
  }
}

@media screen and (max-width: 767px) {
  .user-notification{
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .user-notification:hover{
    padding-bottom: 1vh;
  }

  .user-notification-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .nom-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .nom-user{
    font-size: 1.8vh;
  }

  .nom-user-1{
    font-size: 1.4vh;
  }
}



